# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# files
**.log
workload.txt

# db_working_home
**/db/**

**/bin**
**/build/**
**result**

.idea
cmake-build-debug/
cmake-build-release/


# Logs and text data
*.log
*.txt
workload.txt

# Exclude all SVG files
*.svg
*.png
*.csv

# .vscode
.vscode/

# .vstats
.vstats/
.DS_Store
**/__pycache__/**
**.pdf