[submodule "lib/rocksdb"]
	path = lib/rocksdb
	url = https://github.com/SSD-Brandeis/RocksDB-SSD.git
	branch = LSMMemoryProfiling
[submodule "lib/KV-WorkloadGenerator"]
	path = lib/KV-WorkloadGenerator
	url = https://github.com/SSD-Brandeis/KV-WorkloadGenerator.git
	branch = main
[submodule "lib/Tectonic"]
	path = lib/Tectonic
	url = https://github.com/SSD-Brandeis/Tectonic.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
